
/* 400px */
@media screen and (max-width: 400px) {
    [class*="col-"] {
        width: 100%;  
        max-width: 100%;
        flex: 0 0 100%; 
    }     
   
    
}
@media screen and (max-width: 768px){
    [class*="col-"] {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }    
}
